.image{
    width: 40px;
    margin-left: 15px;
    margin-top: 15px;
}
nav{
    background-color: dodgerblue;
    align-items: center;
    height: 70px;
}
a{
    text-decoration: none;
    font-family: tilt neon;
    padding: 10px;
    color: azure;
}
ul{
    list-style: none;
    float: right;
    display: flex;
    padding-inline: 50px;
}
body{
    margin: 0;
}
li:hover{
    border: 2px solid blueviolet;
    border-radius: 20px;
    transition: 0.5s;
    background-color: cyan;
}
.HOME{
    text-align: center;
   background-image: url(flower.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.one{
    font-size: 30px;
    font-family: tilt neon;
   color: lawngreen;
}
.main{
    color: grey;
}
button{
    height: 20px;
    width: 70px;
    border-radius: 10px;
    cursor: pointer;
}
#first{
    background-color: mediumpurple;
    width: 120px;
}
#first:hover{
   background-color: darkcyan;
}
#second:hover{
    background-color: darkcyan;
}
.main{
   display: flex;
    justify-content: space-around;
    padding: 100px;
}
.head{
    color: blue;
}



